body{
	margin:0px;
	background-color:lightgrey;
}

*{
	margin:0px;
	font-family:helvetica, arial;
}

.container{
	margin-left:174.5px;
	margin-right:174.5px;
	margin-top:0px;
	margin-bottom:0px;
	background-color:lightgrey;
}

/*=============HEADER=================*/

.headerM{
	background-color:#636363;
}

.headerM h2{
	background-color:none;
	font-size:17px;
	margin-left:14%;
	margin-top:10px;
}

.headerT h1{
	font-size:40px;
	font-weight:bold;
	color:lightgrey;
	margin-left:9%;
	padding-top:20px;
	background-color:#636363;
}

.headerT .s1{
	background-color:lightgrey;
	color:#636363;
	margin-top:10px;
	padding:20px;
	padding-right:0px;
}

.headerT .s2{
	font-size:50%;
	font-weight:normal;
}

/*=================CONTENT=============*/

#content table{
	padding:50px 80px 50px 80px;
}

#content table tr td p{
	font-size:20px;
	font-style:italic;
}